---
http_interactions:
- request:
    method: put
    uri: https://test.lingu.com/api/v1/candidates/18
    body:
      encoding: UTF-8
      string: '{"candidate":{"fname":"Sean","lname":"Palmer","email":"palmer@gmail.com","locale":"en","mobile":"11111111","gender":"male","ssn":"11111111111"}}'
    headers:
      X-Api-Token:
      - Token token="<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      etag:
      - W/"198bb81dbf6439b602491a2f44692a77"
    body:
      encoding: UTF-8
      string: '{"candidate":{"id":18,"fname":"Sean","lname":"Palmer","email":"palmer@gmail.com","gender":"male","ssn":"11111111111","locale":"en","mobile":"11111111"}}'
  recorded_at: Mon, 27 Feb 2023 13:55:38 GMT
recorded_with: VCR 6.1.0
