---
http_interactions:
- request:
    method: get
    uri: https://test.lingu.com/api/v1/examinations/38
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Token:
      - Token token="<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      etag:
      - W/"3b183ebaf30a24538f24c20e75b66281"
    body:
      encoding: UTF-8
      string: '{"examination":{"id":38,"exam":{"id":5,"name":"Master of Psychology","price":"2334.0","locale":"nb","description":null,"updated_at":"2023-02-17T15:13:58.519Z"},"candidate":{"id":12,"fname":"Alexandra","lname":"Lee","email":"alexandra.lee@example.com","gender":"female","ssn":"12029845666","locale":"en","mobile":"91122335"},"created_at":"2023-02-26T18:33:04.892Z","updated_at":"2023-02-26T18:33:04.892Z","expires_at":"2023-03-28T18:32:55.543Z","max_score":500,"total_score":0,"tasks_limit":5,"total_time_spent":0,"status":"pending","locale":"nb","code":"rMefoe","redirect_url":null,"team_id":"989952716","team_group_id":"1059638631","student_id":"56831960","price":"2334.0","review_status":"no_review","comment":null}}'
  recorded_at: Mon, 27 Feb 2023 12:57:32 GMT
recorded_with: VCR 6.1.0
