---
http_interactions:
- request:
    method: get
    uri: https://test.lingu.com/api/v1/examinations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Token:
      - Token token="<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      etag:
      - W/"225a2bdbd3ff25331cfe3a28d27ba6a7"
    body:
      encoding: UTF-8
      string: '{"examinations":[{"id":31,"exam":{"id":2,"name":"Associate Degree in
        Psychology","price":"9.99","locale":"nb","description":null,"updated_at":"2023-02-14T15:34:35.457Z"},"candidate":{"id":18,"fname":"Sean","lname":"Palmer","email":"sean.palmer@example.com","gender":"male","ssn":"12029845666","locale":"en","mobile":"91122335"},"created_at":"2023-02-22T10:15:24.566Z","updated_at":"2023-02-22T10:15:24.566Z","expires_at":"2023-03-24T10:15:24.522Z","max_score":500,"total_score":0,"tasks_limit":5,"total_time_spent":0,"status":"pending","locale":"nb","code":"8XQRJn","redirect_url":null,"team_id":null,"team_group_id":null,"student_id":null,"price":"9.99","review_status":"no_review","comment":null},{"id":32,"exam":{"id":2,"name":"Associate
        Degree in Psychology","price":"9.99","locale":"nb","description":null,"updated_at":"2023-02-14T15:34:35.457Z"},"candidate":{"id":12,"fname":"Alexandra","lname":"Lee","email":"alexandra.lee@example.com","gender":"female","ssn":"12029845666","locale":"en","mobile":"91122335"},"created_at":"2023-02-22T10:15:24.807Z","updated_at":"2023-02-22T10:15:24.807Z","expires_at":"2023-03-24T10:15:24.795Z","max_score":500,"total_score":0,"tasks_limit":5,"[...]
- request:
    method: get
    uri: https://test.lingu.com/api/v1/examinations?student_id_eq=1&team_group_id_eq=2&team_id_eq=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Token:
      - Token token="<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      etag:
      - W/"225a2bdbd3ff25331cfe3a28d27ba6a7"
    body:
      encoding: UTF-8
      s[...]
- request:
    method: get
    uri: https://test.lingu.com/api/v1/examinations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Token:
      - Token token="<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":"401 Unauthorized"}'
  recorded_at: Mon, 27 Feb 2023 15:48:46 GMT
recorded_with: VCR 6.1.0
