---
http_interactions:
- request:
    method: get
    uri: https://test.lingu.com/api/v1/examinations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Token:
      - Token token="<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      etag:
      - W/"fd8887b98b39e0b55751fe24502ff313"
    body:
      encoding: UTF-8
      string: '{"limit_value":10,"current_page":1,"total_pages":1,"total_count":6,"per_page":10,"page":1,"examinations":[{"id":36,"exam":{"id":4,"name":"Associate
        Degree in Commerce","price":"9.99","locale":"nb","description":null,"updated_at":"2023-02-17T15:06:59.641Z"},"candidate":{"id":18,"fname":"Sean","lname":"Palmer","email":"palmer@gmail.com","gender":"male","ssn":"11111111111","locale":"en","mobile":"11111111"},"created_at":"2023-02-22T11:25:57.463Z","updated_at":"2023-03-08T18:31:59.368Z","expires_at":"2023-03-24T11:25:57.453Z","max_score":3400,"total_score":3500,"tasks_limit":5,"total_time_spent":901,"status":"in_progress","locale":"nb","code":"m3HNZM","redirect_url":null,"team_id":null,"team_group_id":null,"student_id":null,"price":"9.99","review_status":"no_review","comment":null},{"id":35,"exam":{"id":3,"name":"Associate
        Degree in Design","price":"9.99","locale":"nb","description":null,"updated_at":"2023-02-14T15:34:37.515Z"},"candidate":{"id":18,"fname":"Sean","lname":"Palmer","email":"palmer@gmail.com","gender":"male","ssn":"11111111111","locale":"en","mobile":"11111111"},"created_at":"2023-02-22T11:25:57.434Z","updated_at":"2023-03-08T18:31:59.364Z","expires_at":"2023-03-24T11:25:57.425Z","max_score":3400,"total_score":3500,"tasks_limit":5,"total_time_sp[...]
- request:
    method: get
    uri: https://test.lingu.com/api/v1/examinations?student_id_eq=1&team_group_id_eq=2&team_id_eq=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Token:
      - Token token="<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      etag:
      - W/"fd8887b98b39e0b55751fe24502ff313"
    body:
      encoding: UTF-8
      s[...]
- request:
    method: get
    uri: https://test.lingu.com/api/v1/examinations?page=2&per_page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Token:
      - Token token="<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      etag:
      - W/"4ad94ed4cf7898777d648b1aa6d23ac2"
    body:
      encoding: UTF-8
      string: '{"limit_value":2,"curr[...]
